#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>                                                    
#include <zephyr/dt-bindings/pwm/pwm.h>
                                                                                                     
/ {                                                                                                  
        backlight {
            compatible = "pwm-leds";
            backlight0: backlight_0 {
                    pwms = <&ledc0 0 1000 PWM_POLARITY_NORMAL>;
                    label = "BACKLIGHT";
            };
        };

        aliases {
          pwm0 = &ledc0;
          backlight0 = &backlight0;
        };

        chosen {                                                                                     
                zephyr,display = &st7735s_160x128;                                       
        };                                                                                           
                                                                                                     
        display_160x128 {                                                               
                compatible = "zephyr,mipi-dbi-spi";                                                  
                spi-dev = <&xiao_spi>;                                                            
                dc-gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>;                     
                reset-gpios = <&xiao_d 0 GPIO_ACTIVE_LOW>;                     
                #address-cells = <1>;                                                                
                #size-cells = <0>;                                                                   
                                                                                                     
                st7735s_160x128: st7735r@0 {                                             
                        compatible = "sitronix,st7735r";                                             
                        mipi-max-frequency = <20000000>;                                             
                        mipi-mode = <MIPI_DBI_MODE_SPI_4WIRE>;                                       
                        reg = <0>;                                                                   
                        width = <160>;                                                               
                        height = <128>;                                                              
                        x-offset = <0>;                                                              
                        y-offset = <0>;                                                              
                        madctl = <0x60>;                                                             
                        colmod = <0x55>;                                                             
                        vmctr1 = <0x0e>;                                                             
                        pwctr1 = [a2 02 84];                                                         
                        pwctr2 = [c5];                                                               
                        pwctr3 = [0a 00];                                                            
                        pwctr4 = [8a 2a];                                                            
                        pwctr5 = [8a ee];                                                            
                        frmctr1 = [01 2c 2d];                                                        
                        frmctr2 = [01 2c 2d];                                                        
                        frmctr3 = [01 2c 2d 01 2c 2d];                                               
                        gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];                
                        gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];                
                };                                                                                   
        };                                                                                           
};                          

&xiao_spi {
  status = "okay";
  cs-gpios = <&xiao_d 2 GPIO_ACTIVE_LOW>;
};

&pinctrl {
  ledc0_default: ledc0_default {
     group1 {
       pinmux = <LEDC_CH0_GPIO4>;
       output-enable;
     };
   };
};

&ledc0 {
        pinctrl-0 = <&ledc0_default>;
        pinctrl-names = "default";
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        channel0@0 {
                reg = <0x0>;
                timer = <0>;
        };
};
