# BMA180 Three Axis Accelerometer configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig BMA180
	bool "BMA180 Three Axis Accelerometer Family"
	default y
	depends on DT_HAS_BOSCH_BMA180_ENABLED
	select I2C
	help
	  Enable driver for BMA180 I2C-based triaxial accelerometer sensor
	  family.

if BMA180

choice
	prompt "Acceleration measurement range"
	default BMA180_RANGE_2G
	help
	  Measurement range for acceleration values.

config BMA180_RANGE_1G
	bool "+/-1g"

config BMA180_RANGE_1_5G
	bool "+/-1.5g"

config BMA180_RANGE_2G
	bool "+/-2g"

config BMA180_RANGE_3G
	bool "+/-3g"

config BMA180_RANGE_4G
	bool "+/-4g"

config BMA180_RANGE_8G
	bool "+/-8g"

config BMA180_RANGE_16G
	bool "+/-16g"

endchoice

choice
	prompt "Acceleration data filter bandwidth"
	default BMA180_BW_150HZ
	help
	  Bandwidth of filtered acceleration data.

config BMA180_BW_10HZ
	bool "10Hz"

config BMA180_BW_20HZ
	bool "20Hz"

config BMA180_BW_40HZ
	bool "40Hz"

config BMA180_BW_75HZ
	bool "75Hz"

config BMA180_BW_150HZ
	bool "150Hz"

config BMA180_BW_300HZ
	bool "300Hz"

config BMA180_BW_600HZ
	bool "600Hz"

config BMA180_BW_1200HZ
	bool "1200Hz"

config BMA180_BW_HIGHPASS
	bool "High pass 1Hz"

config BMA180_BW_BANDPASS
	bool "Band pass 0.2-300Hz"


endchoice

endif # BMA180
