# H3LIS331DL Three Axis Accelerometer configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig H3LIS331DL
	bool "H3LIS331DL Three Axis Accelerometer Family"
	default y
	depends on DT_HAS_ST_H3LIS331DL_ENABLED
	select I2C
	help
	  Enable driver for H3LIS331DL I2C-based triaxial accelerometer sensor
	  family.

if H3LIS331DL

choice
	prompt "Acceleration measurement range"
	default H3LIS331DL_RANGE_100G
	help
	  Measurement range for acceleration values.

config H3LIS331DL_RANGE_100G
	bool "+/-100g"

config H3LIS331DL_RANGE_200G
	bool "+/-200g"

config H3LIS331DL_RANGE_400G
	bool "+/-400g"

endchoice

choice
	prompt "Acceleration output data rate"
	default H3LIS331DL_ODR_100HZ
	help
	  Output data rate.

config H3LIS331DL_ODR_50HZ
	bool "50Hz"

config H3LIS331DL_ODR_100HZ
	bool "100Hz"

config H3LIS331DL_ODR_400HZ
	bool "400Hz"

config H3LIS331DL_ODR_1000HZ
	bool "1000Hz"

endchoice

endif # H3LIS331DL
