/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
    clock-frequency = <I2C_BITRATE_FAST>;

    lsm303accel_0: lis2dh@19 {
        compatible = "st,lis2dh";
        reg = <0x19>;
    };

    lsm303magn_0: lsm303dlhc-magn@1e {
        compatible = "st,lsm303dlhc-magn";
        reg = <0x1e>;
    };

    l3gd20h_0: l3gd20h@6b {
        compatible = "st,l3gd20h";
        reg = <0x6b>;
    };

    fxos8700_0: fxos8700@1f {
		compatible = "nxp,fxos8700";
		reg = <0x1f>;
        range = <2>;
    };

    fxas21002_0: fxas21002@21 {
		compatible = "nxp,fxas21002";
		reg = <0x21>;
    };

	mpu9250_0: mpu9250@68 {
		compatible = "invensense,mpu9250";
		reg = <0x68>;
        gyro-sr-div = <10>;
        gyro-dlpf = <5>;
        gyro-fs = <250>;
        accel-fs = <2>;
        accel-dlpf = "5.05";
	};

    bno055_0: bno055@28 {
		compatible = "bosch,bno055";
		reg = <0x28>;
    };

    lsm9ds1magn_0: lsm9ds1magn@1c {
        compatible = "st,lsm9ds1-magn";
        reg = <0x1c>;
    };

    lsm9ds1ag_0: lsm9ds1ag@6a {
        compatible = "st,lsm9ds1-ag";
        reg = <0x6a>;
    };

    bmp180_0: bmp085@77 {
		compatible = "bosch,bmp085";
		reg = <0x77>;
    };
};

&i2c2 {
    pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb3>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    bmp085_0: bmp085@77 {
		compatible = "bosch,bmp085";
		reg = <0x77>;
    };
};

&spi1 {
    status = "okay";

    spi_flash: flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <24000000>; // 24 MHz
        size = <0x8000000>; // 128 Mbit
        jedec-id = [EF 40 18]; // Manufacturer and device ID
        status = "okay";
    };
};
