/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
	mpu9250_0: mpu9250@69 {
		compatible = "invensense,mpu9250";
		reg = <0x69>;
        gyro-sr-div = <10>;
        gyro-dlpf = <5>;
        gyro-fs = <250>;
        accel-fs = <2>;
        accel-dlpf = "5.05";
	};
    clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
    pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb3>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
};
