/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */


&i2c1 {
    clock-frequency = <I2C_BITRATE_FAST>;

    lsm303accel_0: lis2dh@19 {
        compatible = "st,lis2dh";
        reg = <0x19>;
    };

    lsm303magn_0: lsm303dlhc-magn@1e {
        compatible = "st,lsm303dlhc-magn";
        reg = <0x1e>;
    };

    l3gd20h_0: l3gd20h@6b {
        compatible = "st,l3gd20h";
        reg = <0x6b>;
    };

    fxos8700_0: fxos8700@1f {
		compatible = "nxp,fxos8700";
		reg = <0x1f>;
        range = <2>;
    };

    fxas21002_0: fxas21002@21 {
		compatible = "nxp,fxas21002";
		reg = <0x21>;
    };

	mpu9250_0: mpu9250@68 {
		compatible = "invensense,mpu9250";
		reg = <0x68>;
        gyro-sr-div = <10>;
        gyro-dlpf = <5>;
        gyro-fs = <250>;
        accel-fs = <2>;
        accel-dlpf = "5.05";
	};

    lsm9ds1magn_0: lsm9ds1magn@1c {
        compatible = "st,lsm9ds1-magn";
        reg = <0x1c>;
    };

    lsm9ds1ag_0: lsm9ds1ag@6a {
        compatible = "st,lsm9ds1-ag";
        reg = <0x6a>;
    };

    bmp180_0: bmp085@77 {
		compatible = "bosch,bmp085";
		reg = <0x77>;
    };
};

&i2c2 {
    pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb3>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    h3lis331dl_0: h3lis331dl@19 {
		compatible = "st,h3lis331dl";
		reg = <0x19>;
    };

    hmc5883l_0: hmc5883l@1e {
		compatible = "honeywell,hmc5883l";
		reg = <0x1e>;
    };

    bno055_0: bno055@28 {
		compatible = "bosch,bno055";
		reg = <0x28>;
    };

    bma180_0: bma180@40 {
		compatible = "bosch,bma180";
		reg = <0x40>;
    };

    itg3205_0: itg3205@68 {
		compatible = "invensense,itg3205";
		reg = <0x68>;
    };

    bmp085_0: bmp085@77 {
		compatible = "bosch,bmp085";
		reg = <0x77>;
    };

    icm20948_0: icm20948@69 {
		compatible = "invensense,icm20948";
		reg = <0x69>;
        accel-hz = <100>;
        gyro-hz = <100>;
        mag-freq = <10>;
    };

};

&i2c3 {
    pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pb4>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    rtc_0: ds1307@68 {
        compatible = "maxim,ds1307";
        reg = <0x68>;
    };
};

&spi1 {
    status = "okay";

    spi_flash_0: flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <24000000>; // 24 MHz
        size = <0x8000000>; // 128 Mbit
        jedec-id = [EF 40 18]; // Manufacturer and device ID
        status = "okay";
    };
};

&usart1 {
    status = "okay";
    current-speed = <230400>;
};

&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    status = "okay";
    current-speed = <9600>;

    gnss_0: gnss-nmea-generic {
        compatible = "gnss-nmea-generic";
    };
};

&usart6 {
    pinctrl-0 = <&usart6_tx_pa11 &usart6_rx_pa12>;
    pinctrl-names = "default";
    status = "okay";
    current-speed = <230400>;
};

/* Move user button IO to free up pa0 for adc */
&user_button {
    gpios = <&gpiob 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_in0_pa0>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

/ {
    battery: battery {
        compatible = "analog-input";
        io-channels = <&adc1 0>;
        status = "okay";
    };

    off_switch: off_switch {
        compatible = "power-switch";
        gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
        status = "okay";
    };

    aliases {
        uartinterface = &usart6;
        uartgnss = &usart2;
    };
};
