&pinctrl {
        uart0_default: uart0_default {
                group1 {
                        pinmux = <UART1_TX_GPIO45>;
                        output-high;
                };
                group2 {
                        pinmux = <UART1_RX_GPIO46>;
                        bias-pull-up;
                };
        };

        uart1_default: uart1_default {
                group1 {
                        pinmux = <UART1_TX_GPIO33>;
                        output-high;
                };
                group2 {
                        pinmux = <UART1_RX_GPIO34>;
                        bias-pull-up;
                };
        };

        uart2_default: uart2_default {
                group1 {
                        pinmux = <UART2_TX_GPIO35>;
                        output-high;
                };
                group2 {
                        pinmux = <UART2_RX_GPIO36>;
                        bias-pull-up;
                };
        };
};


&uart0 {
        status = "okay";
        current-speed = <230400>;
        /*current-speed = <115200>;*/
        pinctrl-0 = <&uart0_default>;
        pinctrl-names = "default";
};

&uart1 {
        status = "okay";
        current-speed = <230400>;
        /*current-speed = <115200>;*/
        pinctrl-0 = <&uart1_default>;
        pinctrl-names = "default";
};

&uart2 {
        status = "okay";
        current-speed = <230400>;
        /*current-speed = <115200>;*/
        pinctrl-0 = <&uart2_default>;
        pinctrl-names = "default";
};
