# LSM9DS1 gyroscope sensor configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig LSM9DS1
	bool "LSM9DS1 Accelerometer and Gyroscope"
	default y
	depends on DT_HAS_ST_LSM9DS1_ENABLED
	select I2C
	help
	  Enable driver for LSM9DS1 I2C-based gyroscope sensor.

if LSM9DS1

choice
        prompt "Trigger mode"
        default LSM9DS1_TRIGGER_NONE
        help
          Specify the type of triggering to be used by the driver.

config LSM9DS1_TRIGGER_NONE
        bool "No trigger"

config LSM9DS1_TRIGGER_GLOBAL_THREAD
        bool "Use global thread"
        select LSM9DS1_TRIGGER

config LSM9DS1_TRIGGER_OWN_THREAD
        bool "Use own thread"
        select LSM9DS1_TRIGGER
endchoice


config LSM9DS1_TRIGGER
        bool

config LSM9DS1_THREAD_PRIORITY
        int "Own thread priority"
        depends on LSM9DS1_TRIGGER_OWN_THREAD
        default 10
        help
          The priority of the thread used for handling interrupts.

config LSM9DS1_THREAD_STACK_SIZE
        int "Own thread stack size"
        depends on LSM9DS1_TRIGGER_OWN_THREAD
        default 1024
        help
          The thread stack size.

config LSM9DS1_ACCEL_SAMPLING_RATE_RUNTIME
	bool "Dynamic sampling rate for accelerometer"
	depends on DT_HAS_ST_LSM9DS1_ENABLED
	help
	  Enable alteration of accelerometer sampling rate attribute at
	  runtime.


menu "Attributes"

choice
	prompt "Accelerometer sampling rate"
	default LSM9DS1_ACCEL_SAMPLING_RATE_25
	depends on LSM9DS1_ACCEL_ENABLE
	help
	  Specify the default sampling rate frequency for accelerometer.

config LSM9DS1_ACCEL_SAMPLING_RATE_0
	bool "0 Hz (power down)"

config LSM9DS1_ACCEL_SAMPLING_RATE_3_125
	bool "3.125 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_6_25
	bool "6.25 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_12_5
	bool "12.5 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_25
	bool "25 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_50
	bool "50 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_100
	bool "100 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_200
	bool "200 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_400
	bool "400 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_800
	bool "800 Hz"

config LSM9DS1_ACCEL_SAMPLING_RATE_1600
	bool "1600 Hz"

endchoice

choice
	prompt "Gyro full-scale"
	default LSM9DS1_GYRO_FULLSCALE_245
	help
	  Specify the default full-scale for the gyroscope.

config LSM9DS1_GYRO_FULLSCALE_245
	bool "245 DPS"

config LSM9DS1_GYRO_FULLSCALE_500
	bool "500 DPS"

config LSM9DS1_GYRO_FULLSCALE_2000
	bool "2000 DPS"

endchoice

choice
	prompt "Accelerometer full-scale"
	default LSM9DS1_ACCEL_FULL_SCALE_2
	depends on LSM9DS1_ACCEL_ENABLE
	help
	  Specify the default full-scale for the accelerometer.

config LSM9DS1_ACCEL_FULL_SCALE_2
	bool "2G"

config LSM9DS1_ACCEL_FULL_SCALE_4
	bool "4G"

config LSM9DS1_ACCEL_FULL_SCALE_6
	bool "6G"

config LSM9DS1_ACCEL_FULL_SCALE_8
	bool "8G"

config LSM9DS1_ACCEL_FULL_SCALE_16
	bool "16G"

endchoice

config LSM9DS1_SET_RUNTIME
	bool "Dynamic attribute setting"
	help
	  Enable alteration of sensor attributes at runtime.

choice
	prompt "Default sampling rate frequency"
	default LSM9DS1_SAMPLING_RATE_95
	help
	  Specify the default sampling rate frequency.

config LSM9DS1_SAMPLING_RATE_95
	bool "95 Hz"

config LSM9DS1_SAMPLING_RATE_190
	bool "190 Hz"

config LSM9DS1_SAMPLING_RATE_380
	bool "380 Hz"

config LSM9DS1_SAMPLING_RATE_760
	bool "760 Hz"

endchoice


endmenu


endif # LSM9DS1
