# LSM9DS1 accelerometer, magnetometer and temperature configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig LSM9DS1_MAGN
	bool "LSM9DS1 I2C magnetometer"
	default y
	depends on DT_HAS_ST_LSM9DS1_MAGN_ENABLED
	select I2C
	help
	  Enable driver for LSM9DS1 I2C-based MFD sensor.

if LSM9DS1_MAGN


menu "Attributes"

config LSM9DS1_MAGN_TEMP_COMP
    bool "Use temperature compensation"
    default y
    help
      Use temperature compensation

choice
	prompt "Power mode"
	default LSM9DS1_MAGN_HIGH_PERF

config LSM9DS1_MAGN_LOW_POWER
	bool "Low power"

config LSM9DS1_MAGN_MED_PERF
	bool "Medium performance"

config LSM9DS1_MAGN_HIGH_PERF
	bool "High performance"

config LSM9DS1_MAGN_ULTRA_PERF
	bool "Ultra performance"

endchoice

choice
	prompt "Magnetometer sampling rate"
	default LSM9DS1_MAGN_SAMPLING_RATE_10
	help
	  Specify the default sampling rate frequency for magnetometer.

config LSM9DS1_MAGN_SAMPLING_RATE_0_625
	bool "0.625 Hz"

config LSM9DS1_MAGN_SAMPLING_RATE_1_25
	bool "1.25 Hz"

config LSM9DS1_MAGN_SAMPLING_RATE_2_5
	bool "2.5 Hz"

config LSM9DS1_MAGN_SAMPLING_RATE_5
	bool "5 Hz"

config LSM9DS1_MAGN_SAMPLING_RATE_10
	bool "10 Hz"

config LSM9DS1_MAGN_SAMPLING_RATE_20
	bool "20 Hz"

config LSM9DS1_MAGN_SAMPLING_RATE_40
	bool "40 Hz"

config LSM9DS1_MAGN_SAMPLING_RATE_80
	bool "80 Hz"

endchoice

config LSM9DS1_MAGN_SAMPLING_RATE_RUNTIME
	bool "Dynamic sampling rate for magnetometer"
	help
	  Enable alteration of magnetometer sampling rate attribute at
	  runtime.

choice
	prompt "Magnetometer full-scale"
	default LSM9DS1_MAGN_FULL_SCALE_4
	help
	  Specify the default full-scale for magnetometer.


config LSM9DS1_MAGN_FULL_SCALE_4
	bool "4 Gauss"

config LSM9DS1_MAGN_FULL_SCALE_8
	bool "8 Gauss"

config LSM9DS1_MAGN_FULL_SCALE_12
	bool "12 Gauss"

config LSM9DS1_MAGN_FULL_SCALE_16
	bool "16 Gauss"

endchoice

config LSM9DS1_MAGN_SET_RUNTIME
	bool "Set sensor attributes at runtime"
	help
	  Enable alteration of magnetometer full-scale attribute at
	  runtime.

endmenu

endif # LSM9DS1_MAGN
